#ngh-form {
    padding: 20px 45px 0px 45px;
}

.flex-layout > div {
    display: flex; 
    flex: 1; 
    flex-direction: column;
}
 
.hI-container{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.hI-container textarea {
    border: 1px solid gray;
    margin-top: 10px;
}

.hI-container>label{
    margin-top: 20px;
}
 
.hI-container div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.hI-container div>p{
    margin-right: 100px;
}

.further-action-block .mat-form-field {
    display: block;
}

.mat-radio-group > *:not(:first-child) {
    margin-left: 4em;
}

.spacer {
    flex-grow: 0.3;
}

mat-accordion div.spacer {
    flex-grow: 0.8;
}

mat-accordion div > p {
    margin: 0px;
}

.example-full-width textarea {
    margin-bottom: -20px;
}

.submit-button {
    justify-content: center;
    display: flex;
}

@media (max-width: 575.98px) { 
    .spacer {
        display: none !important;
    }
}  